* {
    margin: 0;
    
}

main {
    margin-left: 5px;
    width: 1500px;
}

.sfondo {
    width: 1600px;
    height: 180px;
    background-image: url(img/pattern.png);
    background-color: rgb(78, 160, 255);
}

#logo{
    width: 250px;
    height: 100px;
    margin-top: 80px;
    margin-left: 10px;
}

h1 {
    font-size: 60px;
}

.autore {
    font-size: 20px;
    color: grey;
}

.data {
    font-size: 15px;
     color: grey;
}

table {
 border-spacing: 0;
  text-align: left;
  border: none;
}

td {
  border: 1px solid #dddddd;
  padding: 0;
  width: 1000px;
}

thead {
    background-color: #20A9E5;
}

.riga1,.riga3 {
    background-color: #B1E5F2;
}